.admin__container{
    height: 50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    background-color: #0a0101;
    position: sticky;
    top: 0;
    z-index: 100;

    
}

.admin__logo{width: 50px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    margin-bottom: 17px;
    border: #ffff;
    border-radius: 1rem;
}

.device__ids{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    
}
.device__icon{
 margin-bottom: 5px;
margin-right: 5px;
cursor: pointer;
color: ghostwhite;
border-radius: 10rem;
}
.device__icon:hover{
    background: gray;
    transition-duration: 1ms;
}


h6{
    color: white;
    font: bold;
}
.admin__usericon-container{
    display: flex;
    flex-direction: row;
    margin-left: 65%;
    
}

.admin__usericon{
     margin-left: 10px;
     margin-right: 10px;
     background: var(--main-color);
}



.admin__device-container{
display: flex;

}

.admin__device-row{
    display: flex;
    flex-direction: row;
    z-index: 1;
   

}

.admin__footer{
position: fixed;

bottom: 0;
width: 100%;
background-color: rgb(126, 118, 118);
color: rgb(233, 225, 225);
text-align: center;
display: flex;
flex-direction: row;


}


.admin__footer-icon{
margin-left: 600px;
background: rgb(211, 10, 3);
}


.admin__footer-date:hover{
    cursor: pointer;
    background-color: rgb(41, 36, 36);
    
}
.admin__footer-date{
box-sizing: content-box;
box-shadow: floralwhite;
font-size: 12px;
}