
.home{
   margin-top: 5%;
   margin-left: 1%;
   font-family: monospace;
   font-weight: 400;
   font: bold;
   background: rgb(255, 255, 255);
   box-sizing: content-box;
   width: 75%;
    
}

.admin__device-row{

    display: flex;
    flex-direction: row;
    padding-bottom: 11%;
    
    
   

}




.home__image{

}