
.main__container{
margin-top: 5%;
 box-sizing: content-box;
 flex-direction: column;
background: #ffff;
margin-left: 35%;
align-items: center;
margin-right: 65%;
border: solid #cbccd3 1px;
border-style: double;
padding-bottom: 1px;
height: 100%;
width: 30%;
border-radius: 0.4rem;
}

.main__image{
    padding-top: 5%;
    display: block;
    height: 100px;
    width: 100px;
    padding-left: 25px;
    margin: auto;
    align-self: center;
    object-fit: contain;
    padding-right: 5%;
    padding-bottom: 30px;
    
}

.title__signin{
    box-sizing: content-box;
    width: auto;
    font-display: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 5%;
    
    
}


.main__input{

    margin-top: 10px;
display: flex;
flex-direction: row;

    border-radius: 104px;
    box-sizing: content-box;
   margin-left: 50px;
   width:  70%;
   
   margin-bottom: 25px;


}
.main__input:hover{
    opacity: 0.9;
    color: darkred;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main__person-icon{
    
    border-radius: 0.5rem;
    padding-right: 0.1px;
    padding-left: 1px;
      
}


.main__input-user{
    height: 30px;
  padding: 9px;
width: 100%;
font-size: 14px;
color: black;

}
/* password                                */
.main__password{
display: flex;
flex-direction: row;
  margin-top: 10px;
  margin-bottom: 35px;
  box-sizing: content-box;
  width: 70%;
  height: auto;
    border-radius: 104px;
  padding-left: 50px;
    
}
.main__password:hover{
    opacity: 0.9;
    color: darkred;
    cursor: pointer;
}
h1:hover{
   
}
.main__security-icon{
    border-radius: 0.5rem;
    padding-right: 0.1px;
    padding-left: 1px;
    
}
input:hover{
    background: rgb(252, 247, 247);
border-radius: 0.8rem;
height: 35px;
}
.main__text-password{
    height: 30px;
    padding: 9px;
  width: 100%;
  font-size: 14px;
  color: black;
}


/* checkbox     */

.main__checkbox{
margin-top: 5%;
margin-left: 20%;

cursor: pointer;
user-select: none;

}

.main__checkbox-input{
width: 22px;
position: inherit;

}

.checkbox__label{
    margin-left: 2.5%;
    font-size: 12px;
    font-weight: 700;
}

.container__button{
    margin-top: 5%;
padding-bottom: 10%;
}

/*  button */
.main__button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 2.5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 15%;
   
    font-weight: 500;
    
          
}
.main__button:hover{
    background-color: #bda669;
}



  #loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
  }
  
  #loading-image {
    z-index: 100;
  }

